.nav-container {
  background-color: #f1f5f9;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.website-logo {
  width: 15%;
}

@media screen and (max-width: 768px) {
  .website-logo {
    width: 30%;
  }
}
